<f:layout name="Default" />
<f:section name="Main">

    <f:render partial="HeaderNav" arguments="{_all}" />

    <!-- The overlay -->

    <!-- Modal -->
    <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suche</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- To Top-->
    <a id="back2Top" title="Nach oben" href="#">&#10148;</a>
    <!-- To Top End-->


    <main>
        <section class="section">
            <!--Welcome Hero / Section 01-->
            <div class="vh-100 last d-flex flex-column welcome" style="">

                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="cd-headline loading-bar">
                                <span>Die Rezepte sind</span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Lecker</b>
                                    <b>Einfach</b>
                                    <b>Verständlich</b>
                                    <b>Modern</b>
                                    <b>mit viel HERZ</b>
                                    !
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="h2-welcome">Na, neugierig geworden?</div>
                        </div>
                    </div>
                </div>

                <div class="container pb-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mouse_scroll">
                                <div class="mouse">
                                    <div class="wheel"></div>
                                </div>
                                <div>
                                    <span class="m_scroll_arrows one"></span>
                                    <span class="m_scroll_arrows two"></span>
                                    <span class="m_scroll_arrows three"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--Welcome Hero / Section 01 End-->
        </section>

        <!--Section 02-->
        <section>
            <div class="container-fluid">
                <div class="row pb-5">
                    <div class="col-12 ">
                        <div class="h-underline">
                            <h2>Neue leckere Rezepte</h2>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-xs-12 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                    <!--Card-->
                    <div class="col">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img
                                    src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">
                                        Bootstrap 3 Carousel FadeIn Out Effect
                                    </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="#" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Card-->
                    <div class="col">
                        <div class="card">
                            <a class="img-card"
                                href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                <img
                                    src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                        Bootstrap 3 Carousel FadeIn Out Effect
                                    </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"
                                    class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Card-->
                    <div class="col">
                        <!--Card-->
                        <div class="card">
                            <a class="img-card"
                                href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                                <img
                                    src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a
                                        href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html">
                                        Material Design Responsive Menu
                                    </a>
                                </h4>
                                <p class="">
                                    Material Design is a visual programming language made by Google. Language
                                    programming...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Card-->
                    <div class="col">
                        <div class="card">
                            <a class="img-card"
                                href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                                <img
                                    src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5
                                        Button Hover Animation Effects
                                    </a>
                                </h4>
                                <p class="">
                                    tutorials button hover animation, although very much a hover button is very
                                    beauti...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"
                                    class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section 02 End-->
    </main>
    <!--Section 03-->

    <!--Section 03 End-->

    <f:render partial="Footer" arguments="{_all}" />


</f:section>