<!-- Top Social -->
<div class="col-6 text-end">
    <div class="d-inline-flex me-auto">

        <div><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="d-md-inline-block py-2 ps-1 pe-1 slide"><i class="fas fa-search fa-lg"></i></a></div>

        <div>
            <f:cObject typoscriptObjectPath="lib.headerIcons01" />
        </div>
        <div>
            <f:cObject typoscriptObjectPath="lib.headerIcons02" />
        </div>
        <div>
            <f:cObject typoscriptObjectPath="lib.headerIcons03" />
        </div>
        <div>
            <f:cObject typoscriptObjectPath="lib.headerIcons04" />
        </div>

    </div>
</div>
<!-- Top Social End -->